__pycache__
temp
data
logs
pyenv

notes/*
!notes/2013_deep_q_network
notes/2013_deep_q_network/models/*
!notes/2013_deep_q_network/models/.gitkeep

!notes/2015_double_dqn
notes/2015_double_dqn/models/*
!notes/2015_double_dqn/models/.gitkeep

!notes/2016_dueling_network
notes/2016_dueling_network/models/*
!notes/2016_dueling_network/models/.gitkeep

!notes/2017_noisy_network
notes/2017_noisy_network/models/*
!notes/2017_noisy_network/models/.gitkeep

python-server/models/*
!python-server/models/.gitkeep
