__pycache__
temp
data
logs
pyenv

notes/*
!notes/2013_deep_q_network
notes/2013_deep_q_network/models/*
!notes/2013_deep_q_network/models/.gitkeep

python-server/models/*
!python-server/models/.gitkeep
